<p>Crear una vista "home.handlebars" la cual contenga una lista de todos los productos agregados hasta el momento</p>

<h2>Lista de todos los productos agregados</h2>
<ul class="products-list">
    {{#each products}}
        <li>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p class="price">Precio: ${{this.price}}</p>
        </li>
    {{/each}}
</ul>